bin
obj
tags
*.exe
*.dll
*.pdb
*.suo
*.pfx
*.psess
*.vsp
*;*
*~
SchemeBuilder
Makefile
packages
.nuget
.vs

# 文件夹
/.idea/
/.vs/
/**/bin/
/**/obj/

# 项目
/demo/

# 文件
**.exe
**.dll
**.user
